.body{
  background: #dadada;
}
.nav{
  width: 375px;
  height: 37px;
  background: #FF852A;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top:0px;
  z-index: 9999999;
}
.nav .logo{
width: 31px;
}
.logo img{
  width: 100%;
}
.nav .sec{
  background: #FF4E22;
  width: 324px;
  height: 25px;
  border-radius:4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
.sec .iconfont{
  font-size:13px;
}

.swiper-container {
    width: 375px;
    height: 119px;
    margin: 37px auto 0 auto !important;
}
.swiper-slide img{
  width: 375px;
  top:-50px;
  position: absolute;
}
.wb{
  position: absolute;
  left: 0px;
  top: 110px;
  width: 375px;
  z-index: 99999999;
}
.swiper-pagination-bullet-active{
  background: rgb(255,80,0) !important;
}
.iconList{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:  center;
  width: 375px;
  height: 160px;
}
.listitem{
  display: flex;
  justify-content: space-around;
  width: 375px;
}
.listitem .items{
  width: 61px;
  height: 67px;
}
.icon{
  background: url(../img/拍卖.png);
  background-size: 100%;
  width: 65px;
  height: 51px;
}
.items .text{
  font-size: 11px;
    height: auto;
    margin-top: 5px;
    text-align: center;
    color: rgb(102, 102, 102);
}
.ttsw{
  display: flex;
  width: 375px;
  height: 60px;
}
.tttxt{
  flex:1;
  display: flex;
  justify-content: space-between;
  align-items: space-evenly;
}
.tttxt .ttxt{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 12px;
  color: rgb(51,51,51);
}
.ttxt .txt{
  display: flex;
}
.ttxt .view{
  border:1px solid rgb(230, 10, 31);
  color: rgb(230, 10, 31);
  border-radius: 3px;
  margin-right: 5px;
}
.ttlogo{
  width: 59px;
  height: 60px;
  background: url(../img/ttlogo.webp) center;
  background-size: 80%;
  background-repeat: no-repeat;
}
.cf{
  background: url(../img/咖啡1.png),url(../img/咖啡2.png);
  width: 85px;
  height: 60px;
  background-size: 100% 100%;
}
.ttswcon{
  margin: 0 !important;
}
.footer{
  width: 375px;
  height: 43px;
  position: fixed;
  display: flex;
  bottom:0px;
  z-index: 9999999;
  border: 1px solid #e7e7e7;
  justify-content: space-around;
  align-items: center;
  background: #fff;
}
.footer .wenben{
  font-size: 12px;
}
.qianggou{
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 224px;
  border-top: 5px solid #dadada;
  border-bottom:  5px solid #dadada;
}
.qianggou .qianggou1{
  display: flex;
  width: 375px;
  height: 112px;
}
.qianggou1 .qitem{
  display: flex;
  width: 187.5em;
  height: 112px;
}
.qitem .item1,.qitem .item2,.qitem .item3,.qitem .item4{
  width: 93.75px;
  height: 112px;
}
.qitem .item1{
  background: #123;
}
.qitem .item2{
  background: #345;
}
.qitem .item3{
  background: #abc;
}
.qitem .item4{
  background: #cde;
}
.zhibo{
  position: relative;
  width: 375px;
  height: 353px;
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
  background: #dadada;
}
.zhibo .logo1{
  width: 375px;
  height: 29px;
  position: absolute;
  left: 0;
  top:-14.5;

}
.logo1 .logo{
    background-image: url(../img/zhibologo.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.zhibo .item1{
  width: 375px;
  height: 125px;
  display: flex;
  margin-top: 14.5px;

}
.item1 .img1{
  flex: 2;
  height: 125px;
  background: #ec4b4b;
}
.item1 .img2{
  flex:1;
  height: 125px;
  background: #4bc7ec;
}
.zhibo .item2{
  width: 375px;
  height: 180.5px;
  display: flex;
  justify-content: space-around;
}
.item2 .img{
  display: flex;
  flex-direction: column;
}
.item2 .img .tu{
  height: 125.5px;
  background: #1a2;
  width: 124.5px;
}
.item2 .img .txt{
  width: 124.5px;
  height: 55px;
  background: #fff;
}
.item3{
  width: 375px;
  background: #fff;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}
.item3 .zhubotuijian{
  border: 1px solid rgb(253, 30, 87);
  color: rgb(253, 30, 87);
  border-radius: 3px;
}
